---
layout: default
refactor: true
panel_includes:
  - toc
---

{% include lang.html %}

{% include toc-status.html %}

<article class="px-1 container my-4" data-toc="{{ enable_toc }}">
  <header class="mv-header row g-0 px-4">
    <h2 class="mt-4" data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}
  </header>

  {% if enable_toc %}
    <div id="toc-bar" class="d-flex align-items-center justify-content-between invisible">
      <span class="label text-truncate">{{ page.title }}</span>
      <button type="button" class="toc-trigger btn me-1">
        <i class="fa-solid fa-list-ul fa-fw"></i>
      </button>
    </div>

    <button id="toc-solo-trigger" type="button" class="toc-trigger btn btn-outline-secondary btn-sm">
      <span class="label ps-2 pe-1">{{- site.data.locales[lang].panel.toc -}}</span>
      <i class="fa-solid fa-angle-right fa-fw"></i>
    </button>

    <dialog id="toc-popup" class="p-0">
      <div class="header d-flex flex-row align-items-center justify-content-between">
        <div class="label text-truncate py-2 ms-4">{{- page.title -}}</div>
        <button id="toc-popup-close" type="button" class="btn mx-1 my-1 opacity-75">
          <i class="fas fa-close"></i>
        </button>
      </div>
      <div id="toc-popup-content" class="px-4 py-3 pb-4"></div>
    </dialog>
  {% endif %}


  <div class="content">
    <hr class="my-4 border-1 border-dark">
    {{ content }}
  </div>

  <div>
    <hr class="my-4 border-1 border-dark">
    <!-- time -->
    {{ site.data.locales[lang].post.posted }}
    {% include datetime.html date=page.date tooltip=true lang=lang %}
    ·
    <!-- author(s) -->
    <span>
      {% if page.author %}
      {% assign authors = page.author %}
      {% elsif page.authors %}
      {% assign authors = page.authors %}
      {% endif %}

      {{ site.data.locales[lang].post.written_by }}

      <em>
        {% if authors %}
        {% for author in authors %}
        {% if site.data.authors[author].url -%}
        <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
        {%- else -%}
        {{ site.data.authors[author].name }}
        {%- endif %}
        {% unless forloop.last %}{{ '</em>, <em>' }}{% endunless %}
        {% endfor %}
        {% else %}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
        {% endif %}
      </em>
    </span>
    ·
    <!-- read time -->
    {% include read-time.html content=content prompt=true lang=lang %}
  </div>
</article>
